@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.parent-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    background-color: var(--section-background-color);
    padding-top: 15px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 60px;
    animation: fadeIn 1s ease-out;
}

.Competance-container h2 {
    font-family: 'Roboto', sans-serif;
    font-weight: 2em;
    color: var(--titre-color);
    text-align: center;
    margin-bottom: 30px;
}

.competence {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px;
    width: 95px; 
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.5s ease-out, transform 0.5s ease-out;
}

.competence.show {
    opacity: 1;
    transform: translateY(0);
}

.competence img {
    width: 60px;
    height: auto;
    margin-bottom: 8px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.competence:hover img {
    transform: scale(1.1);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.competence p {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    color: var(--text-color);
    text-align: center;
    margin: 0;
    width: 100%; 
    box-sizing: border-box;
}