.footer-container {
    background-color: #FFFFFF;
    padding: 12px;
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.mentions-legales-container {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.mentions-legales-link {
    color: #000;
    text-decoration: none;
    font-weight: bold;
    margin-right: 30px; /* Un peu d'espace avant les réseaux sociaux */
}

.mentions-legales-link:hover {
    color: #007bff;
}
.modal-content h2{
    color: #FFFFFF;
}

.liens-reseaux {
    display: flex;
    gap: 15px;
    align-items: center; /* Aligne les icônes verticalement */
}

.liens-reseaux img {
    display: inline-block;
    width: 40px;
    height: auto;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.liens-reseaux img:hover {
    transform: scale(1.1);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000; /* Assure que la modal est au-dessus de tous les autres éléments */
}

.modal-content {
    background-color: var(--section-background-color);
    padding: 20px;
    border-radius: 8px;
    width: 90%;
    max-width: 800px;
    color: var(--text-color);
    position: relative;
    overflow-y: auto; /* Permet le défilement si le contenu est trop grand */
    max-height: 80vh; /* Limite la hauteur maximale de la modal */
}

.modal-close {
    background: #009fd4;
    border: none;
    color: #FFFFFF;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 4px;
    position: absolute;
    top: 10px;
    right: 10px;
}
@media (max-width: 768px){
    .liens-reseaux img {
        display: inline-block;
        width: 30px;
        height: auto;
        transition: transform 0.3s ease, box-shadow 0.3s ease;
    }
}