/* Styles globaux */
body {
  background-color: var(--background-color);
  color: var(--text-color);
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
body .section-separator{
  color: var(--section-background-color);
  margin-top: 50px;
  margin-bottom: 50px;
  margin-left: 230px;
  border: 2px solid var(--section-background-color);
  width: 60%;
  display: flex;
  flex-direction: row;
  align-items: center;
}
@media (max-width: 768px){
  body .section-separator{
    color: var(--section-background-color);
    margin-top: 80px;
    margin-bottom: 50px;
    margin-left: 150px;
    border: 2px solid var(--section-background-color);
    width: 60%;
    display: flex;
    flex-direction: row;
    align-items: center;
  }
}
@media (max-width: 480px){
  body .section-separator{
    color: var(--section-background-color);
    margin-top: 80px;
    margin-bottom: 50px;
    margin-left: 100px;
    border: 2px solid var(--section-background-color);
    width: 60%;
    display: flex;
    flex-direction: row;
    align-items: center;
  }
}
@media (max-width: 375px){
  body .section-separator{
    color: var(--section-background-color);
    margin-top: 80px;
    margin-bottom: 50px;
    margin-left: 80px;
    border: 2px solid var(--section-background-color);
    width: 60%;
    display: flex;
    flex-direction: row;
    align-items: center;
  }
}

section {
  background-color: var(--section-background-color);
  padding: 20px;
  margin-bottom: 20px;
}

html {
  scroll-behavior: smooth;
}

/* Thème clair */
:root {
  --background-color: #ffffff;
  --section-background-color: #B0B0B0;
  --text-color: #474646;
  --sous-titre-color : #292929;
  --titre-color : #000000;
  --border-form : #000000;
}

/* Thème sombre */
[data-theme='dark'] {
  --background-color: #000000;
  --section-background-color: #1f1f1f;
  --text-color: #B0B0B0;
  --sous-titre-color : #FFFFFF;
  --titre-color : #FFFFFF;
  --border-form : #B0B0B0;
}