.Project-container {
    padding: 20px;
    background-color:  var( --section-background-color);
    color: #fff;
    padding-top: 50px;
    padding-bottom: 30px;
}

.Project-grid {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: space-around;
}

.project-card {
    width: 300px;
    background-color: #333;
    color: #fff;
    transition: transform 0.3s ease !important; box-shadow : 0.3s ease !important;
    cursor: pointer;
    margin-bottom: 15px;
}

.project-card:hover {
    transform: translateY(-10px) scale(1.1) !important; /* Essayez avec un zoom de 10% */
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.4) !important;
}




.modal-box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #1e1e1e;
    padding: 20px;
    border-radius: 8px;
    outline: none;
    max-width: 1000px;
    width: 100%;
    overflow-y: auto;
}

.modal-images {
    display: flex;
    gap: 10px;
    margin-top: 20px;
    overflow-x: auto;
}

.modal-image {
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 4px;
}

.conteneur-projets h2 {
    font-family: 'Roboto', sans-serif;
    font-weight: 2em;
    color: #FFFFFF;
    text-align: center;
    margin-bottom: 30px;
}

.modal-title {
    font-family: 'Roboto', sans-serif;
    color: #FFFFFF;
    margin-bottom: 20px;
}